{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <div class="dashboard-header mb-4">
    <!-- Page Title -->
    <h1>Dashboard</h1>
    <!-- Welcome message to user -->
    <p>
      Welcome back,
      <strong>{{ user.username }}</strong>
    </p>
  </div>
  <div class="row">
    <!-- Context Profile -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <p class="stat-title">Context Profiles</p>
          <h2 class="stat-number">{{ profile_count }}</h2>
        </div>
      </div>
    </div>
    <!-- Policies -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <p class="stat-title">Policies</p>
          <h2 class="stat-number">{{ policy_count }}</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick actions btns -->
  <div class="card mb-3">
    <div class="card-header">Quick Actions</div>
    <div class="card-body">
      <a href="{%url 'contexts'%}" class="btn btn-primary action-btn">
        <i class="bi bi-person-badge-fill"></i>
        Manage Context Profiles
      </a>
      <a href="{%url 'policies'%}" class="btn btn-primary action-btn">
        <i class="bi bi-shield-check"></i>
        Manage Policies
      </a>
      <a href="{%url 'disclosure-preview'%}" class="btn btn-primary action-btn">
        <i class="bi bi-grid-1x2-fill"></i>
        Identity Preview
      </a>
      <a href="{%url 'user-lookup'%}" class="btn btn-primary action-btn">
        <i class="bi bi-search"></i>
        Identity Lookup
      </a>
      <a href="{%url 'incoming-requests'%}" class="btn btn-primary action-btn">
        <i class="bi bi-envelope-check"></i>
        Incoming requests
      </a>
    </div>
  </div>
  <!-- List of context profile -->
  <div class="card">
    <div class="card-header">Available Contexts Profiles</div>
    <div class="card-body">
      <div class="d-flex flex-wrap gap-2">
        {% for context in contexts %}

        <span class="badge rounded-pill context-pill"> {{context}} </span>

        {% empty %}

        <p>No contexts configured.</p>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
