{% extends "base.html" %} {% block content %} {% load static %}

<h2>View requested identity data</h2>

<div class="card p-3">
  <div class="mb-3">
    <label>Approved Identity Requests</label>
    <select id="identity_request" class="form-select"></select>
  </div>
  <button class="btn btn-primary" onclick="previewDisclosure()">
    View Identity
  </button>
</div>

<hr />

<div id="preview-result"></div>

{% endblock %} {% block scripts %}
<script src="{% static 'frontend/js/disclosure-preview.js' %}" defer></script>
{% endblock %}
